body {
  width: 100%;
  height: 100%;
  margin: 0;
  box-sizing: border-box;
}
header {
  text-align: center;
}
.img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  
}
nav > a {
  color:#FFFFFF;
  background-color: #880808;
  padding: 0px 10px;
  
}
figcaption {
  font-size: medium;
  text-align: center;
}
#featured-property  p {
  width: 800px;
  margin: 20px auto;
}
.details{
  background-color: #880808;
  color: #FFFFFF;
}
.details::after {
  display: block;
  content: " ";
  clear: both;
}
.details-box {
  display: block;
  width: calc(100% / 4);
  text-align: center;
  float: left;
}